resources/*
logs/*
report.zip
report/*
test/*
!test/config/
!test/config/corces_minimal_enrichment_analysis_annotation.csv
!test/config/corces_minimal_enrichment_analysis_config.yaml
!test/data/
!test/data/CorcesATAC/
!test/data/CorcesATAC/ALL_features.bed
!test/data/CorcesATAC/Bcell_up_features.bed
!test/data/CorcesATAC/Ery_up_features.bed
!test/data/CorcesRNA/
!test/data/CorcesRNA/ALL_features_annot.txt
!test/data/CorcesRNA/Bcell_up_features_annot.txt
!test/data/CorcesRNA/Ery_up_features_annot.txt
!test/data/CorcesRNA/Bcell_featureScores_annot.csv
!test/data/CorcesRNA/Ery_featureScores_annot.csv
!test/resources/
!test/resources/enrichment_analysis/
!test/resources/enrichment_analysis/Azimuth_2023.gmt
!test/resources/enrichment_analysis/Azimuth_2023.json
!test/resources/enrichment_analysis/ReactomePathways.gmt
!test/resources/enrichment_analysis/ReactomePathways.json
!test/resources/cistarget/
!test/resources/cistarget/motifs-v10nr_clust-nr.hgnc-m0.001-o0.0.tbl
!test/resources/pycistarget_toy/
!test/resources/pycistarget_toy/toy_600regions.regions_vs_motifs.rankings.feather
!test/resources/rcistarget_toy/
!test/resources/rcistarget_toy/toy_10genes.genes_vs_motifs.rankings.feather
!test/resources/rcistarget_toy/toy_10genes.motif_annotations.tbl
!test/resources/LOLACore/
!test/resources/LOLACore/hg38/
!test/resources/LOLACore/hg38/**
.snakemake/*
.ipynb_checkpoints/*
*.ipynb_checkpoints*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

snakejob_conductor.sh

._*
